<%= form_for(post, :html => {:class => 'form-inline'}) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="post-form">
    <td id="input-content">
      <div class="field">
        <%= f.label :content, :class => 'sr-only'%>
        <%= f.text_field :content, :class => 'input-sm', :placeholder => 'content'%>
      </div>
    </td>
    <td id="submit-post">
      <div class="actions">
        <%= f.submit "Post!", :class => 'btn btn-sm'%>
      </div>
    </td>
  </table>
<% end %>
