<%= form_for(post, :html => {:class => 'form-inline'}) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <script type="text/javascript">
      $(function(){
          // 入力中の文字数
          $('input#post_content').on('load keydown keyup keypress change', function(){
              var inLength = $(this).val().length;
              $('span#input-length').text(inLength)
          })
      });
  </script>
  <table id="post-form">
    <td id="input-content">
      <div class="field">
        <%= f.label :content, :class => 'sr-only'%>
        <%= f.text_field :content, :class => 'input-sm', :placeholder => 'content'%>
      </div>
    </td>
    <td id="submit-post">
      <div class="actions">
        <%= f.submit "Post!", :class => 'btn btn-sm'%>
      </div>
    </td>
  </table>
  <p id="char-count"><span id="input-length">0</span>/100</p>
<% end %>
