<script type="text/javascript">
  $(function(){
    $('button.tag-btn').on('click', function(){
      var tagName = this.value;
      $('input.search-tags').data('tagsinput').add(tagName);
    });
    $('a#show-more-tags-link').on('click', function(){
      $('div.more-tags').each(function(index, element){
        // div.more-tagsを削除し子のbuttonは残す
        $(element).children('button').unwrap();
      });
      $(this).css('display', 'none');
    });
  });
</script>
<%=form_tag('posts/search', :remote => true) do%>
  <table id="search-post-form">
    <tbody>
      <!-- レイアウト調整のための空行 -->
      <tr class="search-tbl-header">
        <td class="col1">&nbsp;<!--1:固定幅--></td>
        <td class="col2">&nbsp;<!--2:固定幅--></td>
        <td class="col3">&nbsp;<!--3:比率幅--></td>
        <td class="col4">&nbsp;<!--4:固定幅--></td>
        <td class="col5">&nbsp;<!--5:比率幅--></td>
        <td class="col6">&nbsp;<!--6:固定幅--></td>
      </tr>
      <tr>
          <td><p>created:</p></td>
          <td colspan="2"><%=date_field(:created_from, "", :class => 'input-sm')%></td>
          <td><p class="label-center">〜</p></td>
          <td colspan="2"><%=date_field(:created_to, "", :class => 'input-sm')%></td>
      </tr>
      <tr>
        <td><p>content:</p></td>
        <td colspan="5">
          <%=text_field_tag(:content, "", :class => 'input-sm')%>
        </td>
      </tr>
      <tr>
        <td><p>tags:</p></td>
        <td colspan="4">
          <%=text_field_tag(:tags, "", 'data-role' => 'tagsinput', :class => 'search-tags')%>
        </td>
        <td id="search-post">
            <%=submit_tag("Search", :class => 'btn btn-sm search-btn')%>
        </td>
      </tr>
      <!-- タグ利用数上位10件を取得し利用数とともに表示 -->
      <tr>
        <td colspan="6"><p>利用タグTO10:</p></td>
      </tr>
      <tr class="tags">
        <td colspan="6">
          <div class="field">
            <%@tags.each_with_index do |tag, i|%>
              <%if i >= 10%>
                <div class="more-tags">
              <%end%>
              <button class="btn btn-xs btn-primary tag-btn" value="<%=tag["name"]%>">
                <%=tag["name"]%><span class="badge"><%=tag["cnt"]%></span>
              </button>
              <%if i >= 10%>
                </div>
              <%end%>
            <%end%>
            <%if @tags.length > 10%>
              <a id="show-more-tags-link">more...</a>
            <%end%>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<%end%>
