<div class="row">
  <!-- 左ペイン -->
  <div class="col-md-6 col-xs-12">
    <!-- メモ作成フォーム -->

    <!-- 本日のメモ -->
    <h3>本日のメモ (<%=@today_posts.count%>)</h3>
    <% if @today_posts.any?%>
      <table>
        <tbody>
          <%=render @today_posts%>
        </tbody>
      </table>
      <%=will_paginate @today_posts%>
    <%end%>
    <%= link_to 'New Post', new_post_path %>
  </div>
  <!-- 右ペイン -->
  <div class="col-md-6 col-xs-12">
    <!-- 検索フォーム -->
    <p>
      メモを検索
    </p>
    <p>
      検索条件
    </p>
    <!-- 検索結果 -->

    <!-- 過去1週間のメモ -->

    <h3>過去1週間のメモ (<%=@lastweek_posts.count%>)</h3>
    <% if @lastweek_posts.any?%>
      <!-- TODO 日付ごとの表示。ループ回したい -->
      <h3><%=Date.today-1%>(<%=@past_1_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_1_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-2%>(<%=@past_2_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_2_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-3%>(<%=@past_3_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_3_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-4%>(<%=@past_4_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_4_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-5%>(<%=@past_5_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_5_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-6%>(<%=@past_6_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_6_days_ago_posts%>
        </tbody>
      </table>
      <h3><%=Date.today-7%>(<%=@past_7_days_ago_posts.count%>)</h3>
      <table>
        <tbody>
          <%=render @past_7_days_ago_posts%>
        </tbody>
      </table>

    <%end%>
  </div>
</div>
