<script type="text/javascript">
  // bootstrap-tagsinputで生成されたtag入力欄にtabindexを設定する
  $(function(){
  $('div.bootstrap-tagsinput').children('input').attr('tabindex', '2');
});
</script>
<% provide(:title, "Posts by " + @current_user.name) %>
<div class="row">
  <!-- 左ペイン -->
  <div class="col-md-6 col-xs-12 pain">
    <!-- メモ作成フォーム -->
    <%= render 'form', post: Post.new %>
    <!-- 本日のメモ -->
    <div class="panel panel-default">
      <div class="panel-heading">Today <span class="badge" id="today-posts-count"><%=@today_posts.count%></span></div>
      <table class="table">
        <tbody id="today-posts-table">
          <% if @today_posts.any?%>
            <%=render @today_posts%>
          <%end%>
        </tbody>
      </table>
      <%=will_paginate @today_posts%>
    </div>
  </div>
  <!-- 右ペイン -->
  <div class="col-md-6 col-xs-12 pain">

    <!-- 過去1週間のメモ -->

    <div class="panel panel-default">
      <div class="panel-heading" data-toggle="collapse" href="#last-week-posts">Last 7 days (<%=@lastweek_posts.count%>)</div>
      <div class="panel-body panel-collapse collapse in" id="last-week-posts">
        <% if @lastweek_posts.any?%>
          <!-- TODO 日付ごとの表示。ループ回したい -->
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-1-days-ago-posts">
              <%=Date.today-1%>(<%=@past_1_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-1-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_1_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-2-days-ago-posts">
              <%=Date.today-2%>(<%=@past_2_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-2-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_2_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-3-days-ago-posts">
              <%=Date.today-3%>(<%=@past_3_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-3-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_3_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-4-days-ago-posts">
              <%=Date.today-4%>(<%=@past_4_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-4-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_4_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-5-days-ago-posts">
              <%=Date.today-5%>(<%=@past_5_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-5-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_5_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-6-days-ago-posts">
              <%=Date.today-6%>(<%=@past_6_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-6-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_6_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#past-7-days-ago-posts">
              <%=Date.today-7%>(<%=@past_7_days_ago_posts.count%>)
            </div>
            <div class="panel-body panel-collapse collapse in" id="past-7-days-ago-posts">
              <table class="table">
                <tbody>
                  <%=render @past_7_days_ago_posts%>
                </tbody>
              </table>
            </div>
          </div>
        <%end%>

      </div>

    </div>
  </div>
</div>
